# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.GroveAirlines.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\whelb\Projects\GroveAirlines\.idea\.idea.GroveAirlines\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
